div{ background-color: #39b54a;
     float: none;
}
.divprincipal{
    /* la propiedad display
    display: none; oculta lo que se veia 
    display: inline; despliega solo lo que se ve
    display: block;*/
    display: inline-block;
    min-width: 500px;
    min-height: 500px;
    max-width: 800px;
    max-height: 800px;
    /* la propiedad margín establece los margenes exteriores de una caja */
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 15px;
    /* se puede poner como: margin: 20px 30px 10px 15px; */
    /* tambien se puede poner solo con dos valores, el primero será para el top/bottom 
    y el que sigue para left/right: margin: 20px 30px */
    /* en el caso de margin: 20px colocará 20px en los cuatro lados */

    /* la propiedad padding establece los margenes interiores de una caja */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.columnacentral{
    width: 70%;
}
.columnalateral{
    width: 30%;
}
*{box-sizing: border-box;

}

/* la propiedad overflow:visible en caso que el texto exceda la caja se va a seguir mostrando
oveflow: hidden; oculta si el texto excede la caja
overflow: scroll; que incorpora una barra de desplazamiento al contenedor
overflow: auto; las baras de desplazamiento aparecen si el texto excede la caja del contenedor*/

.Caja1{float: right;}
.Caja2{float: right;}

span{
    position: relative; /* static , */
}